<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Automation Suite">
<parameter name="Browser" value="Chrome"></parameter>
  <test thread-count="5" name="AutomationSuite">
    <classes>
      <class name="TestNG.Computers"/>
      <class name="TestNG.Home"/>
    </classes>
  </test> <!-- AutomationSuite -->
</suite> <!-- Automation Suite -->
